---
- name: Install and configure Auditd
  hosts: localhost
  become: yes

  tasks:
    - name: Install auditd
      apt:
        name: auditd
        state: present
        update_cache: yes

    - name: Copy auditd configuration
      copy:
        src: files/auditd.conf
        dest: /etc/audit/auditd.conf
        owner: root
        group: root
        mode: '0640'

    - name: Copy custom audit rules
      copy:
        src: files/audit.rules
        dest: /etc/audit/rules.d/audit.rules
        owner: root
        group: root
        mode: '0600'

    - name: Restart auditd service
      service:
        name: auditd
        state: restarted
        enabled: yes
